table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	border: solid 1px black;
	padding: 10px;
}
thead{
	background-color:  orange;
	border-bottom: solid 5px black;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}
tr:hover td{
	background-color: #4C9ED9;
	color: white;
}