body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background:    -moz-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background:     -ms-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background:      -o-linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background:         linear-gradient(90deg, #65997d 10%, #fccb6e 90%);
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;


  background: -color:#324065;
}

div::after
.clearfix::after,
.clear::after{

	clear: :both;
	visibility: :hidden;
	content: "";
	display: block;
}
*{
	margin: 0px;
	padding: 0px;
}

.footer{
	background-color: #D2BF79;
	width: 100%;
	height:30px;
	bottom: 0;
	position: fixed;
	text-align: center;
	color: #000;
}

.contenedor{

    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
}

